<ul class='top'>
  <span>&bull;</span>
  <li><a ng-href='#'>Eventos</a></li>
  <span>&bull;</span>
  <li><a ng-href='#'>nuestros clientes</a></li>
  <span>&bull;</span>
  <li><a ng-href='#'>contacto</a></li>
  <span>&bull;</span>
  <li><a ng-href='#'>acerca de</a></li>
  <span>&bull;</span>
</ul>

<div class="center">
  <div class="socials">
    <a ng-href='#'><fa name="facebook-square" size="2"></fa></a>
    <a ng-href='#'><fa name="twitter-square" size="2"></fa></a>
    <a ng-href='#'><fa name="instagram" size="2"></fa></a>
    <a ng-href='#'><fa name="youtube-square" size="2"></fa></a>
  </div>
  <div class="logo">
    QUENOLOSEPAMAMA
  </div>
</div>


